.App {
  text-align: left;
}

/* Стили для скроллбара */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #F1BF11;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #E0AE10;
}