.App {
  text-align: left;
}

/* Стили для скроллбара */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #1a1a2e;
}

::-webkit-scrollbar-thumb {
  background: #F1BF11;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #E0AE10;
}